@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

.tutorial{
    

    font-family: $_base-font-family;
    width: 100%;
    
    &__container{

        float: right;
        margin-top: 100px;
        margin-right: 140px;
        
        &-header{
            font-size: 30px;
            font-weight: $light;
            letter-spacing: -1px;
            line-height: 8px;
        }
        &-content{
            animation-duration: 2s;
            animation-name: slidein;
            font-size: 18px;
            font-weight: $thin;
            line-height: 40px;
        }
        @keyframes slidein {
            from {
                margin-left: 5%;
                width: 300%
            }
          
            to {
                margin-left: 0%;
                width: 100%;
              
            }
        }

    }
    &__slides{

        &-img{
            width: 450px;
            // height: 230px;
        }
        &-imgbox{
            position: absolute;
            top: 18%;
            left: 10%;
        }
    }
    &__btn{
        position: absolute;
        top: 45%;
        right: 5%;
    }

    &__skipbtn{

        width: 150px;
        height: 40px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        border-radius: 30px;
        font-family: $_base-font-family;
        font-weight: $bold;
        position: absolute;
        bottom: 5%;
        right: 2%;
        border: 0;
        font-size: 15px;
        color:$btn_whiteColor;
        background-color: $mainColor_dark;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 15px 20px #6db2c580;
            color: #fff;
            transform: translateY(-7px);
        }
    }
}

.application{

    &__progressbar{
        text-align: center;
        &-image{
            width: 30%;
        }
    }
}




