@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';


.tutorial{
    
    width: 100%;
    
    &__container{

        float: right;
        margin-top: 100px;
        margin-right: 140px;
        
        &-header{
            font-size: 30px;
            font-weight: $light;
            letter-spacing: -1px;
            line-height: 8px;
        }
        &-content{
            animation-duration: 2s;
            animation-name: slidein;
            font-size: 18px;
            font-weight: $thin;
            line-height: 40px;
        }
        @keyframes slidein {
            from {
                margin-left: 5%;
                width: 300%
            }
          
            to {
                margin-left: 0%;
                width: 100%;
              
            }
        }

    }
    &__slides{

        &-img{
            width: 450px;
            // height: 230px;
        }
        &-imgbox{
            position: absolute;
            top: 18%;
            left: 10%;
        }
    }
    &__btn{
        position: absolute;
        top: 45%;
        right: 5%;
    }

    &__skipbtn{

        width: 150px;
        height: 40px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        border-radius: 30px;
        font-family: $_base-font-family;
        font-weight: $bold;
        position: absolute;
        bottom: 5%;
        right: 2%;
        border: 0;
        font-size: 15px;
        color:$btn_whiteColor;
        background-color: $mainColor_dark;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 15px 20px #5894a380;
            color: #fff;
            
            transform: translateY(-7px);
        }
    }
}

.application{

    &__bigback{
        position: absolute;
        top: 0;
        left: 0;
        width: 24%;
        height: 100%;
        z-index: -2;
    }
    &__miniback{
        position: absolute;
        top: 40%;
        left: 6%;
        width: 13%;
        z-index: -1;
        opacity: 90%;
    }

    &__title{
       font-weight: $light;
       font-size: 30px;
       position: absolute;
       top: 25%;
       left: 6%;
       color: white;
    }
    &__progressbar{
        position: absolute;
        margin-top: 15px;
        left: 45%;
        // margin-bottom: 30px;
        &-image{
            width: 350px;
        }
    }
    &__body{
        position: absolute;
        top: 21%;
        // margin-top: 20px;
        left: 30%;
    }

    &__control{
        position: absolute;
        bottom: 6%;
        // margin-top: 20px;
        left: 26%;
        display: flex;
        width: 100%;
        &-back{
            display: flex;
            margin-right: 530px;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 140px;
                height: 40px;
                cursor: pointer;
                &:hover{
                    font-weight: $black;
                    color: $mainColor_dark;
                }
                
                
            }
        }
        &-next{
            display: flex;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 150px;
                cursor: pointer;
                &:hover{
                    font-weight: $black;
                    color: $mainColor_dark;
                }
            }
        }
    }
}

.floortype{
    &__heading{
        font-weight: $light;
        font-size: 20px;
    }
    &__btncontainer{
        margin-top: 40px;
        display: flex;
    }
    &__btn{
        background-color:$btn_darkColor;
        letter-spacing: -0.9px;
        font-weight: $bold;
        color: rgb(241, 240, 240);
        margin-top: 30px;
        margin-left: 20px;
        width: 330px;
        height: 80px;
        font-size: 20px;
        white-space: pre-wrap;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.397);
        border: 0px;

        &:hover{
            background-color: $btn_darkColor_hover;
            color: white;
            cursor: pointer;
            font-weight: $regular;
            font-size: 15px;
        }

    }
    
}
.commercialtype{
    &__heading{
        font-weight: $light;
        font-size: 20px;
    }
    &__formcontainer{
        margin-top: 20px;
        margin-left: 200px;

        &-btn{
            margin-bottom: 5px;
            background-color:$btn_darkColor;
            letter-spacing: -0.9px;
            font-weight: $bold;
            color: rgb(241, 240, 240);
            width: 260px;
            height: 40px;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.397);
            border: 0px;
            border-radius: 10px;
            font-size: 18px;
            &:hover{
                background-color: $btn_darkColor_hover;
                color: white;
                cursor: pointer;
            }
    
        }
        
    }
    &__input{
        // background-color:$btn_darkColor;
        width: 261px;
        padding: 3px;
        height: 40px;
        font-weight: $bold;
        margin-top: 5px;
        margin-left: 190px;
        &:active{
            cursor: pointer;
        }
    }
    
    
}
.floorplan{
    &__heading{
        font-weight: $light;
        font-size: 20px;
    }
    &__formcontainer{
        margin-top: 20px;
        display: flex;
        &-file{
            margin-left: 10px;
        }
        &-file > label{
            font-size: 16px;
            color: rgb(16, 73, 100);
            letter-spacing: -1px;
            font-weight: $medium;
        }
        &-inputwrap{
            margin-left: 70px;
            margin-top: 30px;
        }
        &-input{
            margin-bottom: 25px;
            
        
        }

        &-input > div > input[type=text]{
            // margin-top: 10px;
            border-bottom: 1px dotted $mainColor_dark;
            border-top: 0;
            border-left: 0;
            border-right: 0;
           
        }
        &-input > div > input[type=number]{
            border-bottom: 1px dotted $mainColor_dark;
            border-radius: 10px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-right: 10px
            
        }
        
        

        &-input > label{
            font-size: 16px;
            color: $label_dark;
            letter-spacing: -1px;
            font-weight: $medium;
        }
    }
}

.floortheme{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
    &__body{
        margin-top: 20px;
        
        
        &-imageuploader{
            display: flex;
            margin-top: 10px;
            margin-left: 20%;
            
            &-heading{
                
                font-size: 13px;
                margin-right: 30px;
                letter-spacing: -0.8px;
            }
            &-wrap{
                // margin-top: 20px;
            }

        }
        
    }
    
    
}

.addrequest{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
    &__message{
        margin-top: 10px;
        font-weight: $black;
        font-size: 30px;
        color: rgb(58, 67, 110);
    }
    &__formcontainer{
        margin-top: 20px;

        &-input{
            width: 700px;
            height: 150px;
            font-size: 15px;
            background-color: rgba(58, 67, 110, 0.123);
            border: 1px solid rgba(128, 128, 128, 0.11);
            box-shadow: 0px 4px 7px rgba(27, 39, 66, 0.692);
            text-align: center;
        }
        
    }
}
@mixin mixin-label {
    font-size: 16px;
    color: $label_dark;
    letter-spacing: -1px;
    font-weight: $bold;
}
.summary{
    margin-top: 10px;
    display: flex;
    color: $font400;

    &__left{
        margin-top: 15px;
        &__type{
            &-label{
                @include mixin-label;
            }
            &-value{
                display: inline-block;
            }
        }
        &__plan{
            // padding: 10px;
            display: flex;
            &-info{
                margin-top: 10px;
                padding-left: 10px;
                &-contents{
                    padding: 2px;
                    width: 200px;
                    word-wrap: break-word;
                    &--label{
                        @include mixin-label;
                    }
                }
            }
        }
        &__theme{
            padding: 10px;
            display: flex;
            &-label{
                @include mixin-label;
            }
        }
        
    }
    &__right{
        width: 300px;
        margin-left: 20px;
        word-wrap: break-word;
        &__add{
            padding: 10px;
            &-label{
                @include mixin-label;
            }
        }
        &__contact{
            padding: 10px;
            &-label{
                @include mixin-label;
            }
        }
        &__cost{
            padding: 10px;
            position: absolute;
            bottom: 5%;
            // right: 0%;
            border: 3px dotted $mainColor;
            &-label{
                @include mixin-label;
            }
        }
    }

    // &__contents{
    //     width: 200px;
    //     word-wrap: "break-word"
    //     &-label{
    //         font-size: 16px;
    //         color: $label_dark;
    //         letter-spacing: -1px;
    //         font-weight: $medium;
    //     }
    // }

    
}


