@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

.tutorial{
    
    width: 100%;
    
    &__container{

        float: right;
        margin-top: 100px;
        margin-right: 140px;
        
        &-header{
            font-size: 30px;
            font-weight: $light;
            letter-spacing: -1px;
            line-height: 8px;
        }
        &-content{
            animation-duration: 2s;
            animation-name: slidein;
            font-size: 18px;
            font-weight: $thin;
            line-height: 40px;
        }
        @keyframes slidein {
            from {
                margin-left: 5%;
                width: 300%
            }
          
            to {
                margin-left: 0%;
                width: 100%;
              
            }
        }

    }
    &__slides{

        &-img{
            width: 450px;
            // height: 230px;
        }
        &-imgbox{
            position: absolute;
            top: 18%;
            left: 10%;
        }
    }
    &__btn{
        position: absolute;
        top: 45%;
        right: 5%;
    }

    &__skipbtn{

        width: 150px;
        height: 40px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        border-radius: 30px;
        font-family: $_base-font-family;
        font-weight: $bold;
        position: absolute;
        bottom: 5%;
        right: 2%;
        border: 0;
        font-size: 15px;
        color:$btn_whiteColor;
        background-color: $mainColor_dark;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 15px 20px #6db2c580;
            color: #fff;
            transform: translateY(-7px);
        }
    }
}

.application{

    &__bigback{
        position: absolute;
        top: 0;
        left: 0;
        width: 24%;
        height: 100%;
        z-index: -2;
    }
    &__miniback{
        position: absolute;
        top: 40%;
        left: 6%;
        width: 13%;
        z-index: -1;
        opacity: 90%;
    }

    &__title{
       font-weight: $light;
       font-size: 30px;
       position: absolute;
       top: 25%;
       left: 6%;
       color: white;
    }
    &__progressbar{
        position: absolute;
        margin-top: 20px;
        left: 45%;
        // margin-bottom: 30px;
        &-image{
            width: 350px;
        }
    }
    &__body{
        position: absolute;
        top: 30%;
        // margin-top: 20px;
        left: 30%;
    }

    &__control{
        position: absolute;
        bottom: 10%;
        // margin-top: 20px;
        left: 30%;
        display: flex;
        width: 100%;
        &-back{
            display: flex;
            margin-right: 350px;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 150px;
                
                
            }
        }
        &-next{
            display: flex;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 200px;
            }
        }
    }
}

.floortype{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
    &__btncontainer{
        margin-top: 30px;
    }
    
}
.commercialtype{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
    
}
.floorplan{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
}

.floortheme{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
}
.addrequest{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
}
.summary{
    &__heading{
        font-weight: $thin;
        font-size: 20px;
    }
}


