@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';
.modal{
    position: absolute;
    overflow: auto;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    @keyframes fadeIn {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    z-index: 30;
    background-color: $bg_primary;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    &__closebtn{
        float: right;
    }
}